.alol {
  --bg-color: #ffe69c;
  --bg-color-light: #ffffff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
  --url: url("../img/select/dsa.png");
}

.blol {
  --bg-color: #8cfba4;
  --bg-color-light: #e2fced;
  --text-color-hover: #4c5656;
  --box-shadow-color: #10da3c8b;
  --url: url("../img/select/ml.png");
}
.clol {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: #6200ff8b;
  --url: url("../img/select/dl.png");
}
.nextlol {
  --bg-color: #79d6d183;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(0, 183, 255, 0.48);
  --url: url("../img/select/next1.png");
}
.springlol {
  --bg-color: #8bc34a9f;
  --bg-color-light: #ffffff;
  --text-color-hover: #ffffff;
  --box-shadow-color: #66b9077d;
  --url: url("../img/select/spring.png");
}

.dockerlol {
  --bg-color: #479cec78;
  --bg-color-light: #ffffff;
  --text-color-hover: #000000a0;
  --box-shadow-color: #0084ff78;
  --url: url("../img/select/Docker.png");
}
.nestlol {
  --bg-color: #e21e4f91;
  --bg-color-light: #ffffff;
  --text-color-hover: #0000009d;
  --box-shadow-color: #ff00406c;
  --url: url("../img/select/Nest.png");
}

.dlol {
  --bg-color: #d0cfcfa5;
  --bg-color-light: #ffffff;
  --text-color-hover: #ffffff;
  --box-shadow-color: #a831318e;
  --url: url("../img/select/tkinter-pluma.png");
}
.elol {
  --bg-color: #7cb28c;
  --bg-color-light: #e2fced;
  --text-color-hover: #fff;
  --box-shadow-color: #1db34a87;
  --url: url("../img/select/dj.png");
}

.flol {
  --bg-color: #9be9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: #9be9ff;
  --url: url("../img/select/rec.png");
}
.redislol {
  --bg-color: #a42121d7;
  --bg-color-light: #ffffff;
  --text-color-hover: #ffffff;
  --box-shadow-color: #a42121d7;
  --url: url("../img/select/Redis.png");
}
.gcplol {
  --bg-color: #f6be0498;
  --bg-color-light: #ffffff;
  --text-color-hover: #ffffff;
  --box-shadow-color: #f6be0498;
  --url: url("../img/select/gcp.png");
}

.gitlol {
  --bg-color: #f2541fc8;
  --bg-color-light: #ffffff;
  --text-color-hover: #ffffff;
  --box-shadow-color: #f2541fc8;
  --url: url("../img/select/git.png");
}

.glol {
  --bg-color: #9dc58a;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: #9dc58a;
  --url: url("../img/select/mon2.png");
}
.hlol {
  --bg-color: #fd7e7e;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #fff;
  --box-shadow-color: #fd7e7e;
  --url: url("../img/select/sql.png");
}
.ilol {
  --bg-color: #9fc34b;
  --bg-color-light: #ffffff;
  --text-color-hover: #fff;
  --box-shadow-color: #9fc34b;
  --url: url("../img/select/node.png");
}

.jlol {
  --bg-color: #757bca;
  --bg-color-light: #e2fced;
  --text-color-hover: #fff;
  --box-shadow-color: #757bca;
  --url: url("../img/select/renat.png");
}
.klol {
  --bg-color: #8cceed;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: #8cceed;
  --url: url("../img/select/ip2.png");
}
.llol {
  --bg-color: #ffe69c;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: #ffe69c;
  --url: url("../img/select/logi.png");
}

.card {
  /* width: 270px; */
  /* height: 376px; */
  background: #fff;
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border-width: 0px;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(3.5) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background-image: var(--url);
  background-repeat: no-repeat;
  background-size: 135px 135px;
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.overlay {
  width: 138px;
  position: absolute;
  height: 138px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 1rem;
  /* left: 50px; */
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.circle {
  width: 153px;
  height: 153px;
  border-radius: 50%;
  background: #fff;
  border: 5px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 140px;
  height: 140px;
  display: block;
  position: absolute;
  background-image: var(--url);
  background-repeat: no-repeat;
  background-size: 135px 135px;
  border-radius: 50%;
  top: 0.2rem;
  left: 0.25rem;
  transition: opacity 0.3s ease-out;
}

/* portfolio */

.portfolio-wrap {
  border-radius: 1rem;
}
